.MuiSlider-root {
  color: #6bbbf3 !important;
}

.MuiSlider-rail {
  height: 1rem !important;
  color: #ececec !important;
  border-radius: 1rem !important;
}

.MuiSlider-track {
  height: 1rem !important;
  border-radius: 1rem !important;
  color: transparent !important;
}

.MuiSlider-mark {
  width: 1rem !important;
  height: 1rem !important;
  border-radius: 50% !important;
  color: #c9c9c9 !important;
}

.MuiSlider-markActive {
  background-color: #c9c9c9 !important;
}

.PrivateValueLabel-offset-60 {
  font-size: 1.2rem !important;
}

.MuiSlider-thumb {
  margin: 0 !important;
}
